.Portfolio {
    color: #555;
}

.project h3 {
    font-size: 1.5em;
}

.project-tags {
    margin-left: 2em;
    margin-top: 1.5em;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.info-badge {
    font-family: 'Courier New', monospace;
    margin-right: 0.5em;
    font-size: 1em;
    color: #222;
    text-align: center;
}

.info-badge:not(:first-child):before {
    content:  " \B7  ";
}

/* Project component layout */

.project-card {
    width: calc(50% - 1em);
    padding: 1.25em;
    margin-bottom: 5%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 0.5em;
}

.project {
    border-radius: 0.5em;
    padding: 0 1em;
    color: #555;
    background-color: #fcfcfc;
}

.filter-links a {
    padding-left: 1em;
    color: #555;
}

.filter-links a:visited {
    color: #555;
}

.filter-icon {
    margin-left: 0.5em;
    color: #555;
    font-size: 1.5em;
    margin-top: -0.25em;
    padding: 4px;
    overflow: visible;
    border-radius: 0.25em;
}

.filter-icon-selected {
    background-color: rgba(85, 85, 85, 0.15);
}

.filter-icon:hover {
    background-color: rgba(85, 85, 85, 0.25);
}

/* Right area of project component */

.web-link {
    display: block;
    font-family: 'Courier New', monospace;
    font-size: 1.5em;
    text-decoration: none;
    color: #555;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 0.5em;
    outline: none;
}

.web-link:visited {
    color: #555;
}

.web-link:hover {
    color: #888;
}
