/* Project component layout */

.project {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    border-radius: 0.5em;
    padding: 1em;
    color: #555;
    background-color: #fcfcfc;
}

.summary-container p {
    font-size: 1em;
    font-weight: normal;
}

/* Right area of project component */

.web-link {
    display: flex;
    text-decoration: none;
    color: #fff;
    padding: 1.5em;
    margin-top: 1em;
    font-size: 1em;
    font-family: Roboto, sans-serif;
    white-space: nowrap;
    outline: none;
    border: 1px #555 solid;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.web-link:visited {
    color: #fff;
}

.web-link:hover {
    color: #fff;
    border: 1px #888 solid;
}
