/* Project component layout */

.project {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    margin-bottom: 2em;
}

.project-left {
    width: 40%;
}

.project-right {
    width: 50%;
}

/* Left area of project component */

.summary-container {
    background-color: #222;
    border-radius: 0.5em;
    padding: 2em;
}

/* Right area of project component */

.card-container {
    background-color: #222;
    border-radius: 0.5em;
    padding: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.web-link {
    display: block;
    text-align: center;
    border-radius: 0.25em;
    color: #fff;
    text-decoration: none;
    background-color: #222222;
    padding: 1em;
    margin-bottom: 1em;
}

.web-link:visited {
    color: #fff;
}

.chip-container {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.chip {
    color: #fff;
    margin-left: 0.25em;
    margin-right: 0.25em;
}
