.card-container {
    color: #fff;
    background-color: #222;
    border-radius: 0.5em;
    padding: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.card-container h1 h2 h3 {
    color: #fff;
}

.project {
    display: flex;
    justify-content: space-between;
}

.project-left {
    flex: 0.4;
}

.project-right {
    flex: 0.5;
}
