.card-container {
    color: #fff;
    background-color: #222;
    border-radius: 0.5em;
    padding: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.card-container h1 h2 h3 {
    color: #fff;
}
