.cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 100%;
    border: 1px rgba(255, 255, 255, 0.8) solid;
    transform: translate(-50%, -50%);
    -webkit-transition-duration: 50ms;
    transition-duration: 50ms;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    will-change: width, height, transform, border;
    z-index: 999;
    pointer-events: none;
}

.cursor.hovered {
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.4);
}
