.nav-bar {
    background-color: #2d2d2d;
    padding: 20px 0;
    position: sticky;
    top: 0;
}

.nav-content {
    margin: auto;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.nav-logo-text {
    font-size: 1.3rem;
    font-weight: bold;
    color: #eee;
    text-decoration: none;
}

.nav-logo-text:hover {
    color: #eee;
}

.nav-logo-text:visited {
    color: #eee;
}

.nav-menu {
    list-style: none;
    padding: 0;
    box-sizing: border-box;
    color: #224193;
    font-size: 1.3rem;
    font-weight: 500;
    margin: 0;
}

.nav-menu:first-child {
    padding-top: 0.8em;
}

.nav-menu-item {
    list-style: none;
    display: inline-block;
    margin: 0em 0.4em 0.8em 0.4em;
}

.nav-submenu {
    position:absolute;
    list-style: none;
    padding: 0.25em 0 0 0;
    box-sizing: border-box;
    font-size: 1.3rem;
    font-weight: 500;
    margin: 0;
    background-color: #2d2d2d;
}

.nav-submenu-item {
    position: relative;
    list-style: none;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.nav-item-text {
    text-decoration: none;
    padding: 0.5em 1em;
    color: #e5e5e5;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
    background: #525252;
}

.nav-logo {
    height: 1.75em;
    width: 1.75em;
}

.nav-logo-container {
    background-color: #666;
    border-radius: 2em;
    padding: 0.3em 0.25em 0.2em 0.25em;
    margin-left: 1em;
    display: inline-block;
}

.nav-right {
    display: flex;
}

.nav-left {
    display: flex;
    align-items: center;
}

.social-bar {
    margin-right: 1em;
    align-self: center;
}
